<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Delivery Stock Management</title>
    <link rel="stylesheet" href="~/css/dsm-auth.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    <script src="~/js/dsm-auth.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
